.form-nested-child {
  p {
    color: var(--body-1);
    padding-bottom: 10px;
    padding-top: 10px;

    &:first-child {
      font-size: resize(var(--size-14px));
      font-weight: bolder;
    }
  }

  .draggable {
    cursor: move;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  label {
    margin-bottom: 0;
    width: 100%;
  }

  .inactive {
    color: rgba(170, 170, 180, 1);
    padding: 6px;
  }

  .nested-item-active {
    background: rgba(238, 238, 238, 0.8);
  }

  input:disabled {
    background-color: transparent;
    border: 0;
  }

  .nested--icon {
    color: rgb(141, 141, 141);
  }

  .text-transparent {
    color: transparent !important;
  }

  .row-active {
    border-color: rgb(189, 189, 189) !important;
    border-style: solid;
    border-width: 1px;
  }

  .row-inactive {
    border-color: transparent !important;
    border-style: solid;
    border-width: 1px;
  }

  .span-info {
    background-color: transparent !important;
  }
}

/* stylelint-disable selector-class-pattern */
.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected {
  background-color: var(--primary-hover) !important;
}

.MuiPickersMonth-monthSelected,
.MuiPickersYear-yearSelected,
.MuiButton-textPrimary {
  color: #000 !important;
}

.MuiInput-underline::after {
  border: transparent !important;
}
/* stylelint-enable selector-class-pattern */

.field-configuration-form {
  legend {
    color: var(--body-2);
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 0;
  }
}

.form--input-text.form-group label {
  width: 100%;
}

.input-group,
.form--input-text,
.form--input-number,
.form--input-email {
  input {
    border: solid var(--disable) 1px;
    color: var(--body-1);
    min-height: 38px;
  }
}

.input-group-text {
  background-color: var(--disable);
  padding: 0;
  width: calc(13em + 10px);
}

.css-yk16xz-control {
  border: solid var(--disable) 1px !important;
}

.form-legend {
  color: var(--warm-grey);
  font-size: resize(var(--size-14px));
  line-height: 1.19;
  padding: 5px;
}

.modal-select-file {
  box-sizing: content-box;
  max-height: 500px;
  min-height: 300px;
  overflow: auto;
}

::placeholder {
  color: var(--warm-grey);
}

.form--input-radio {
  .title-badge {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .form-group {
    margin-left: 25px;
  }
}

.form--input-checkbox {
  span {
    display: inherit !important;
  }
}

.form--multi-options .title-badge {
  margin-bottom: 5px;
  margin-left: 2px;
  margin-top: 4px;
}

.form--input-textarea label {
  width: 100%;
}

.form--input-textarea textarea {
  border-radius: 4px;
  height: 138px;
  resize: none;
  width: calc(100% - 1px);;
}

#preview-content.modal-large {
  max-width: 90% !important;
}

.info-after-text {
  color: var(--warm-grey);
}

/* stylelint-disable selector-class-pattern */
.uppy-FileInput-btn {
  border-bottom-left-radius: 0;
  border-color: var(--body-1);
  border-top-left-radius: 0;
  color: var(--body-1);
  font-size: 12px;
  margin-top: 1.5px;
}

.uppy-FileInput-btn:hover {
  background-color: var(--body-1);
  border-color: var(--body-1);
  color: var(--white);
}
