:root {
  --default-color: #000 !important;
  --primary: #EE3E36 !important;
  --primary-hover: #ee3e36 !important;
  --active-blue: #c8dfff !important;
  --active-green: #44a79c; // Verde tropical
  --secondary: #44a79c !important;
  --secondary-hover: #8bd3cb !important;
  --btn-navbar-link: #6b6869 !important;
  --btn-navbar-link-hover: #304269 !important;
  --error: #ee3e36 !important;
  --success: #44a79c; // Verde tropical
  --warning: #FBAF40; // Amarillo vibrante
  --light: #ffffff; // Blanco puro
  --disabled-bg: #f8f9fa; // Fondo deshabilitado
  --hover-bg: #e9ecef; // Fondo en hover
  --dark-blue: #4d4f5c !important;
  --black: #1D1D1D !important;
  --body-1: #4f4f4f !important;
  --body-2: #707070 !important;
  --warm-grey: #969696 !important;
  --light-grey: #ddd !important;
  --disable: #e0e0e0 !important;
  --background: #1D1D1D !important;
  --background-table: #eceeef !important;
  --white: #fff !important;
  --grey-rgba: rgba(0, 0, 0, 0.16) !important;
  --btn-width: 184px !important;
  --btn-height: 36px !important;
  --btn-border-radius: 6px !important;
  --size-12px: 12px !important;
  --size-13px: 13px !important;
  --size-14px: 14px !important;
  --size-15px: 15px !important;
  --size-16px: 16px !important;
  --size-17px: 17px !important;
  --size-18px: 18px !important;
  --size-20px: 20px !important;
  --size-22px: 22px !important;
  --size-24px: 24px !important;
  --size-26px: 26px !important;
  --size-32px: 32px !important;
  --size-multiply: 1;
  --size-border-radius: 6px;
}
